<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarCenteredExample"
        aria-controls="navbarCenteredExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarCenteredExample"
      >
        <!-- Left links -->
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Bookings</a>
          </li>
        </ul>
       
        <!-- Left links -->
        
      </div>
      <div class="d-flex align-items-center">
        <button   type="button" class="btn btn-success px-3 me-2" data-bs-toggle="modal" data-bs-target="#myModal">
          Login
        </button>
         
      </div> 
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>

<router-outlet ></router-outlet>
